%p#notice= notice
%p
  %h1
    = @user.name
.profile_pic
  = image_tag @user.profile_pic.thumb.url
%p
  %strong
    Coffeshops faved by #{@user.name}:
  
  %ul.tags
    - @user.coffeeshops.each do |c|
      %li
        = link_to "#{c.name}", c
        %br/
        = link_to image_tag("#{c.picture}"), c
