%h1 Listing facilities

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @facilities.each do |facility|
      %tr
        %td= facility.name
        %td= link_to 'Show', facility
        %td= link_to 'Edit', edit_facility_path(facility)
        %td= link_to 'Destroy', facility, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Facility', new_facility_path
