
<form role="search" id="places_form">
  <input type="text" class="autocomplete" class="form-control " placeholder="Search">
  <%= submit_tag "Search", :name => nil %>
</form>

<<<<<<< HEAD

 <%= form_tag coffeeshops_path, :method => 'get', id: "search-form" do %>
   <h3>Find by Address</h3>
   <p>
     <%= text_field_tag :search, params[:search] %>
     </p>
     <h4>Pick the facilities you need</h4>
     <%= check_box_tag "facilities_picked[]", "wifi" %>
     <%= label_tag "Wifi", "Wifi" %>
     </p>
     <p>
     <%= check_box_tag "facilities_picked[]", "power" %>
     <%= label_tag "Power", "Power" %>
     </p>
     <p>
     <%= check_box_tag "facilities_picked[]", "quiet" %>
     <%= label_tag "Quiet", "Quiet" %>
     </p>

     <%= hidden_field_tag 'lat', value='' %>
     <%= hidden_field_tag 'long', value='' %>
     <%= submit_tag "Find Coffeeshops" %>
     <%= submit_tag "Use Geolocation" ,:id=> "some_id" %>
   </p>
 <% end %>
=======
>>>>>>> 56ba9b25cb26ac9fc9305a26c970927bccd34e1a

<%= form_tag coffeeshops_path, :method => 'get', id: "search-form" do %>
<h3>Find by Address</h3>
<p>
 <%= text_field_tag :search, params[:search] %>
</p>
<h4>Pick the facilities you need</h4>
<%= check_box_tag "facilities_picked[]", "wifi" %>
<%= label_tag "Wifi", "Wifi" %>
</p>
<p>
 <%= check_box_tag "facilities_picked[]", "power" %>
 <%= label_tag "Power", "Power" %>
</p>
<p>
 <%= check_box_tag "facilities_picked[]", "quiet" %>
 <%= label_tag "Quiet", "Quiet" %>
</p>

<%= hidden_field_tag 'lat', value='' %>
<%= hidden_field_tag 'long', value='' %>
<%= submit_tag "Find Coffeeshops" %>
<%= submit_tag "Use Geolocation" ,:id=> "some_id" %>
</p>
<% end %>

