<div id="landing_page_wrapper">
<%= form_tag coffeeshops_path, :method => 'get', id: "search-form" do %>
<h3>Find by Address</h3>
  <p>
    <%= text_field_tag :search, nil, class: "autocomplete" %>
    <%= text_field_tag 'lat', nil, class: "lat" %>
    <%= text_field_tag 'lng', nil, class: "lng" %>
  </p>
  <h4>Pick the facilities you need</h4>
  <p>
    <%= check_box_tag "facilities[]", "wifi" %>
    <%= label_tag "Wifi", "Wifi" %>
  </p>
  <p>
    <%= check_box_tag "facilities[]", "power" %>
    <%= label_tag "Power", "Power" %>
  </p>
  <p>
    <%= check_box_tag "facilities[]", "quiet" %>
    <%= label_tag "Quiet", "Quiet" %>
  </p>
  <%= submit_tag "Find Coffeeshops" %>
  <%= submit_tag "Use Geolocation" %>
<% end %>
</div>







