<p id="notice"><%= notice %></p>

<h1>Listing Beans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beans.each do |bean| %>
      <tr>
        <td><%= bean.name %></td>
        <td><%= link_to 'Show', bean %></td>
        <td><%= link_to 'Edit', edit_bean_path(bean) %></td>
        <td><%= link_to 'Destroy', bean, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bean', new_bean_path %>
