= form_for [@coffeeshop, @coffeeshop.reviews.build] do |f|
  - if @coffeeshop.errors.any?
    #error_explanation
      %h2
        = pluralize(@coffeeshop.errors.count, "error")
        prohibited this coffeeshop from being saved:
      %ul
        - @coffeeshop.errors.full_messages.each do |message|
          %li= message
  - if !current_user.nil?
    = hidden_field_tag :user_id, current_user.id
    .field.rating-box
      %span>
      \="rating"&gt;
      \#{radio_button :review, :rating, 1 , :class = rating-input}
      \#{f.label :review, '1'}
      \#{radio_button :review, :rating, 2, :class = rating-input}
      \#{f.label :review, '2'}
      \#{radio_button :review, :rating, 3, :class = rating-input}
      \#{f.label :review, '3'}
      \#{radio_button :review, :rating, 4, :class = rating-input}
      \#{f.label :review, '4'}
      \#{radio_button :review, :rating, 5, :class = rating-input}
      \#{f.label :review, '5'}
  .field
    = f.label :body
    %br
      = f.text_area :body
    = f.submit
