%h1 Listing coffeeshops


%br
-if can? :create, Coffeeshop
  = link_to 'New Coffeeshop', new_coffeeshop_path

%ul
  #userLat= @lat
  #userLng= @lng

%br
-if can? :create, Coffeeshop
  = link_to 'New Coffeeshop', new_coffeeshop_path

%p
  #googleMap

%table
  %thead
    %tr
      %th Name
      %th Latitude
      %th Longitude
      %th Address
      %th Description
      %th Picture
      %th User
      %th Facility
      
  %tbody
    - @coffeeshops.each do |coffeeshop|
      %tr
        %td= link_to coffeeshop.name, coffeeshop
<<<<<<< HEAD
        %td= coffeeshop.latitude
        %td= coffeeshop.longitude
=======
>>>>>>> 59ad9e77b907e2c74f8a388567ea9635b50ba122
        %td= coffeeshop.address
        %td= coffeeshop.description
        %td= image_tag coffeeshop.picture
        %td= coffeeshop.user.name
<<<<<<< HEAD
        %td= coffeeshop.facilities.map{|f| "#{f.name}"}.join(", ")

=======
        %td= coffeeshop.facilities.map{|f| "##{f.name}"}.join(", ")
        
>>>>>>> 59ad9e77b907e2c74f8a388567ea9635b50ba122
        -if can? :update, :destroy, Coffeeshop
          %td= link_to 'Edit', edit_coffeeshop_path(coffeeshop)
          %td= link_to 'Destroy', coffeeshop, :method => :delete, :data => { :confirm => 'Are you sure?' }


