%h1 Listing coffeeshops

.row
  #map-container.col.md-6
    #googleMap
  #directions-container.col-md-6
    #direction-panel



%table
  %thead
    %tr
      %th Name
      %th Latitude
      %th Longitude
      %th Address
      %th Description
      %th Picture
      %th User
      %th Facility
      
  %tbody
    - @coffeeshops.each do |coffeeshop|
      %tr
        %td= coffeeshop.name
        %td= coffeeshop.latitude
        %td= coffeeshop.longitude
        %td= coffeeshop.address
        %td= coffeeshop.description
        %td= coffeeshop.picture
        %td= coffeeshop.user
        %td= coffeeshop.facilities.map{|f| "##{f.name}"}.join(", ")

        %td= link_to 'Show', coffeeshop
        -if can? :update, :destroy, Coffeeshop
          %td= link_to 'Edit', edit_coffeeshop_path(coffeeshop)
          %td= link_to 'Destroy', coffeeshop, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
-if can? :create, Coffeeshop
  = link_to 'New Coffeeshop', new_coffeeshop_path
