%h1 Listing coffeeshops

%ul
  #userLat= @lat
  #userLng= @lng

%br
-if can? :create, Coffeeshop
  = link_to 'New Coffeeshop', new_coffeeshop_path

%p
  #googleMap

%table.tables
  %thead
    %tr
      %th Name
      %th Latitude
      %th Longitude
      %th Address
      %th Description
      %th Picture
      %th User
      %th Facility
      
  %tbody
    - @coffeeshops.each do |coffeeshop|
      %tr
        %td= link_to coffeeshop.name, coffeeshop
        %td= coffeeshop.address
        %td= coffeeshop.description
        %td= coffeeshop.picture
        %td= coffeeshop.user.name
        %td= coffeeshop.facilities.map{|f| "##{f.name}"}.join(", ")
        
        -if can? :update, :destroy, Coffeeshop
          %td= link_to 'Edit', edit_coffeeshop_path(coffeeshop)
          %td= link_to 'Destroy', coffeeshop, :method => :delete, :data => { :confirm => 'Are you sure?' }


