
%p#notice= notice
%p
  %b Average Rating:
  = @coffeeshop.calculateAverage
%p
  %b Name:
  = @coffeeshop.name
%p
  %b Address:
  = @coffeeshop.address
%p
  %b Description:
  = @coffeeshop.description
%p
  %b Picture:
  = image_tag @coffeeshop.picture.thumb.url

%p
  %b Facilities:
  = @coffeeshop.facilities.map{|f| "#{f.name}"}.join(", ")
%p
  %b User:
  = @coffeeshop.user.name


%h3 Reviews

= render :partial => 'reviews/review'
-#= render @coffeeshop.reviews
= render :partial => 'reviews/form'

