%p#notice= notice

%p
  %b Name:
  = @coffeeshop.name
%p
  %b Latitude:
  = @coffeeshop.latitude
%p
  %b Longitude:
  = @coffeeshop.longitude
%p
  %b Address:
  = @coffeeshop.address
%p
  %b Description:
  = @coffeeshop.description
%p
  %b Picture:
  = image_tag @coffeeshop.picture 

%p
  %b User:
  = @coffeeshop.user

%h3 Reviews
-# = render :partial => 'reviews/review'
= render @coffeeshop.reviews
= render :partial => 'reviews/form'

