<!DOCTYPE html>
<html>
<head>
  <title>CoffeeShopApp</title>

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmvVIlUDE2iTItPXbJEkIBAHe-fU_KBAc&sensor=false&libraries=places"></script> 
  <!--  need to change EVN for the google api -->
  <%= javascript_include_tag 'application' %>
</head>
<body>
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
    </a>

       


    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to "DudewheresmyCoffee", {:id=>"home"} %></li>
        <li class="nav-link"><%= link_to "Coffeeshops", coffeeshops_path %></li>
        
        <% if user_signed_in? %>
        <% if current_user.profile_pic.present? %>
        <li class="nav-link"><%= image_tag(current_user.profile_pic.thumb.url) %></li>
        <li class="nav-link" ><%= link_to "Edit", edit_user_registration_path(current_user)%></li>
        <% end %>
        
        <!-- <li ><%#= link_to "create facility", %></li> -->
        <li class="nav-link"><%= link_to current_user.name, current_user %></li>
        <li class="nav-link"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li> 
        <% else %>
        <li class="nav-link"><%= link_to "Register", new_user_registration_path %></li>
        <li class="nav-link"><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>

    </nav>
   
  </div>
</header>

     
     </nav>
   </header>
  <div class="main">
  <%= yield %>
  </div>
</body>
</html>
